body{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

@property --rotate{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

.box{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
    flex-direction: column;
    box-shadow: #1c1c1c 0 0 50px 20px;
    background: repeating-conic-gradient(from var(--rotate),rgb(165, 243, 236) 0%, rgb(165, 243, 236) 10%, transparent 0%, transparent 50%);
    animation: rotation 6s linear infinite;
}

@keyframes rotation{
    0%{
       --rotate: 0deg;
    }
    100%{
       --rotate: 360deg;
    }
}

.box::before{
    content: '';
    position:absolute;
    background-color: #222;
    inset: 3px;
    z-index: 1;
}

#dados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

h2{
    font-size: 45px;
    color: rgb(199, 199, 199);
    font-family: sans-serif;
}

.user{
    position: relative;
    display: flex;
    width: 250px;
    height: 60px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.user input{
    background-color: #222;
    border: none;
    font-size: large;
    color: gray;
    font-family: sans-serif;
    z-index: 4;
    align-content: center;
}

.user::before{
    position: absolute;
    content:'';
    inset: 0px;
    background-color: #141414;

}

.user::after{
    content: '';
    position:absolute;
    inset:2px;
    background: repeating-conic-gradient(from var(--rotate), rgb(165, 243, 236) 0%, rgb(165, 243, 236) 19%, transparent 0%, transparent 50%);
    animation: rotation 6s linear infinite;
}

span{
    position: absolute;
    inset: 4px;
    background-color: #222;
    z-index: 3;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.button input{
    background-color: #222;
    border: none;
    font-size: large;
    color: rgb(199, 199, 199);
    font-family: sans-serif;
}
